<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link rel="stylesheet" href="/css/stylesheet_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/10efa87d39.js" crossorigin="anonymous"></script>
    <title>Jobbok-Perfil</title>
</head>
<body>


    <!-- Header -->
    <%- include('../partials/header.ejs') %> 

    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 


    <main>
        <div class="misServicios">
        
            <!--Lista de contenido perfil-->
            <div class="listaDeContenidoPerfil">
                <h3>Mi Perfil</h3>  
                <ul class="listaCategorias">
                    <li><a href="/usuario/profile/<%=usuario.id%>">Mi información</a></li>
                    <li><a href="/usuario/profile/<%=usuario.id%>/servicios">Servicios publicados</a></li>
                    <li><a href="">Ventas</a></li>
                    <li><a href="">Compras</a></li>
                    <li><a href="">Configuración</a></li>
                </ul>
            </div>
            
            <!--Lista de contenido perfil-->
            <form class="contenedorDerechoPerfil" action="/usuario/profile/editar/<%=usuario.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="contenedorDerechoPerfil">
                    <h1> Editar mi información personal</h1>
                    <div class="contenedorFotoPerfil">
                        <img src='/images/fotos-perfil/<%=usuario.fotoPerfil%>' alt="">
                    </div>
                    <div class="datosDeCuenta">
                        <h2>Datos Usuario</h2> 
                        <div class="nombrePersonalizado"> 
                            <h3 >Usuario</h3>
                            <span>
                                <input type="text" name="nombrePersonalizado" placeholder="Nombre de usuario" class="input"
                                value="<%= locals.oldData && oldData.nombrePersonalizado ? oldData.nombrePersonalizado:usuario.nombrePersonalizado%>">
                                <% if (locals.mensajesError && mensajesError.nombrePersonalizado){ %>
                                <p class="mensajeError"><%= mensajesError.nombrePersonalizado.msg %></p>
                                <% } %>
                            </span>
                        </div>
                        <div class="contenedorCorreo"> 
                            <h3>Correo</h3>
                            <span>
                                <input type="text" name="correo" placeholder="Correo" class="input"
                                value="<%= locals.oldData && oldData.correo ? oldData.correo : usuario.correo%>">
                                <% if (locals.mensajesError && mensajesError.correo){%>
                                <p class="mensajeError"><%= mensajesError.correo.msg %></p>
                                <% } %>
                            </span>
                        </div>
                        <div class="contenedorContraseña"> 
                            <h3>Contraseña</h3>
                            <span>
                                <input type="text" name="password" placeholder="Contraseña" class="input"
                                value="<%= locals.oldData && oldData.password ? oldData.password : usuario.password%>">
                                <% if (locals.mensajesError && mensajesError.password){ %>
                                <p class="mensajeError"><%= mensajesError.password.msg %></p>
                                <% } %>
                            </span>
                        </div>
                    </div> 
                    <div class="datosPersonales">
                        <h2>Datos Personales</h2>   
                        <div class="contenedorNombre"> 
                            <h3>Nombre</h3>
                            <span>
                                <input type="text" name="nombre" placeholder="Nombre" class="input"
                                value="<%= locals.oldData && oldData.nombre ? oldData.nombre : usuario.nombre%>">
                                <% if (locals.mensajesError && locals.mensajesError.nombre){ %>
                                <p class="mensajeError"><%= mensajesError.nombre.msg %></p>
                                <% } %> 
                            </span>
                        </div>
                        <div class="tipoDocumento"> 
                            <h3>Tipo de Documento</h3>
                            <select name="tipoDocumento">
                                <option selected="selected" value="<%=usuario.tipoDocumento%>"><%=usuario.tipoDocumento%></option>
                                <option value="Cedula Ciudadania">Cedula Ciudadania</option>
                                <option value="Targeta Identidad">Targeta Identidad</option>
                                <option value="Cedula Extranjeria">Cedula Extranjeria</option>
                                <option value="NIT">NIT</option>
                                <option value="Pasaporte">Pasaporte</option>
                            </select>
                        

                        </div>
                        <div class="numeroDocumento"> 
                            <h3>Documento</h3>
                            <span>
                                <input type="text" name="numeroDocumento" placeholder="Numero de documento" class="input"
                                    value="<%= locals.oldData && oldData.numeroDocumento ? oldData.numeroDocumento:usuario.numeroDocumento%>">
                                <% if (locals.mensajesError && locals.mensajesError.numeroDocumento){ %> 
                                <p class="mensajeError"><%= mensajesError.numeroDocumento.msg %> </p>
                                <% } %> 
                            </span>
                        </div>

                        <div class="numeroCelular"> 
                            <h3>Celular</h3>
                            <span>
                                <input type="text" name="celular"  placeholder="Celular" class="input"
                                value="<%= locals.oldData && oldData.celular ? oldData.celular : usuario.celular%>">
                                <% if (locals.mensajesError && locals.mensajesError.celular){ %>
                                <p class="mensajeError"><%= mensajesError.celular.msg %> </p> 
                                <% } %> 
                            </span>
                        </div>

                        <div class="ciudadDeResidencia"> 
                            <h3>Ciudad de residencia</h3>
                            <span>
                                <input type="text" name="ciudad" placeholder="Ciudad" class="input"
                                value="<%= locals.oldData && oldData.ciudad ? oldData.ciudad : usuario.ciudad%>">
                                <% if (locals.mensajesError && locals.mensajesError.ciudad){ %>
                                <p class="mensajeError"><%= mensajesError.ciudad.msg %> </p> 
                                <% } %> 
                            </span>
                        </div>
                        
                    </div>
                    <div class="datosFinancieros">
                        <h2>Datos Financieros</h2>
                        <div class="totalServiciosComprados"> 
                            <h3>Servicios comprados</h3>
                            <p>5</p>
                        </div>

                        <div class="totalValorComprados"> 
                            <h3>Valor de servicios comprados</h3>
                            <p>$250.000</p>
                        </div>

                        <div class="totalServiciosVendidos"> 
                            <h3>Servicios vendidos</h3>
                            <p>15</p>
                        </div>

                        <div class="totalValorVendidos"> 
                            <h3>Ganancias de servicios vendidos</h3>
                            <p>$630.000</p>
                        </div>
                    </div>
                    <div class="botones">
                    <button class="button editBtn" type="submit">Editar usuario</button>
                    </div>
                </div>
            </form>    
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>
