<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link rel="stylesheet" href="/css/stylesheet_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/10efa87d39.js" crossorigin="anonymous"></script>
    <title>Jobbok-Mis servicios</title>
</head>
<body>


    <!-- Header -->
    <%- include('../partials/header.ejs') %> 

    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 

<main>
    <div class="misServicios">
        <!--Lista de contenido perfil-->
        
    <%- include('../partials/navbarPerfil.ejs') %> 
      <!-- <div class="listaDeContenidoPerfil">
            <h3>Mi Perfil</h3>  
            <ul class="listaCategorias">
                <li><a href="/usuario/profile/<%=usuario.id%>">Mi información</a></li>
                <li><a href="/usuario/profile/<%=usuario.id%>/servicios">Servicios publicados</a></li>
                <li><a href="">Ventas</a></li>
                <li><a href="">Compras</a></li>
                <li><a href="">Configuración</a></li>
            </ul>
        </div>  -->

            <!--Lista de contenido perfil-->

        <div class="listaServicios">  
            <% if (serviciosUsuario.length >0){ %>      
            <% serviciosUsuario.forEach(servicio => {  %>
            

            <!--TARJETA DE SERVICIO-->
            <a href="/servicio/<%= servicio.id %>"><div class="contenedorDetalleServicio">
            
            <div class="contenedorDerechoBusqueda">
                <div class="contenedorTituloCalificacion">
                    <div class="contenedorTitulo"> 
                        <h2><%= servicio.titulo %></h2>
                        <p class="nombreProfesional"><%= usuario.nombre %></p>
                        <p class="ciudadUbicacion"><%= usuario.ciudad %></p>
                    </div>
                    <div class="contenedorCalificacion">  
                    
                        <div clas="contenedorPrecioTarifa">
                            <strong><p class="precio">$<%= toThousand(servicio.precio) %></p></strong>
                            <p class="ciudadUbicacion"><%= servicio.tarifa %></p>
                        </div>
                    </div>
                </div>
                <div class="contenedorDescripcion">  
                    <p><%= servicio.titulo %><%= servicio.descripcion.substr(1,150) %> ...</p>
                    
                </div>
                <div class="botonesEdicion">
                    <form action="/servicio/editar/<%= servicio.id %>" method="GET">
                        <button class="button editBtn">Editar</button>
                    </form>
                    <form action="/servicio/eliminar/<%= servicio.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                        <button class="button deletBtn" id="<%= servicio.id %>" >Eliminar</button>
                    </form> 
                </div>
            </div>
            </a>
        </div>
        <% }) %>
        <% }else{ %>
            <h4 class="mensajeServicios">En este momento no cuentas con servicios publicados. <br>Para publicar un servicio haz click <a href="/servicio/crear">AQUI</a></h4> 
            <% } %> 
     <!--TARJETA DE SERVICIO HASTA ACA-->
    </div>
    
</main>

<script>
function pregunta(id){      
let resultado = window.confirm('Estas seguro de eliminar este servicio ?' + id);
if (resultado == true) {

}
}
</script>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>
    