<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon2.png" type="image/png">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f477f726e.js" crossorigin="anonymous"></script>
    <script src="/js/filtrosBusquedaServicios.js"></script>
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link href="/css/stylesheet_busqueda_servicios.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <title>jobbook-Busqueda servicios</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    
    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 
    

    <main>

            <div class="filtroDesplegable">
               
                    <p class="filtrarDesplegable">Ordernar por <i class="fa-solid fa-caret-down"></i></p>   
                    <select name="desplegable" id="filtroDesplegable" aria-placeholder="Ordenar por">
                        <option></option> 
                        <option>Relevancia</option>
                        <option value="menor">Precio menor a mayor</option>
                        <option value="mayor">Precio mayor a menor</option>
                    </select>    
            </div>
    

    <div class="contenido">
    <div class="contenedorFiltros">
        <p><%=serviciosBuscados.length%> Resultados</p>
        <h3>Categorias populares <i class="fa-solid fa-list"></i></h3>
        <% let categorias = ['Tecnología', 'Construcción', 'Diseño', 'Administracion',
        'Ingenieria', 'Manufactura', 'Ventas', 'Transporte', 'Comunicaciones', 'Educacion',
        'Negocios', 'Idiomas', 'Salud'] %> 
        <ul class="listaCategorias">
            <% categorias.forEach( categoria => { %> 
                <li><a href="/servicio/filtrar/?keywords=<%= categoria %>" class="categoria">
                    <%= categoria %>
                </a></li>
            <% }) %> 
            
        </ul>

        <h3>Precio <i class="fa-solid fa-dollar-sign"></i></h3>
         
                <div class="filtroPrecio">
                    <input type="number" name="min" id="precioMinimoFiltro" placeholder="Mínimo" value='<%=minVal%>'>
                    <input type="number" name="max" id="precioMaximoFiltro" placeholder="Máximo" value='<%=maxVal%>'>
                    <button class="filtroPrecioBtn"><i class="fa-solid fa-magnifying-glass-dollar"></i></button>
                    <button class="filtroPrecioCBtn"><i class="fa-solid fa-filter-circle-xmark"></i></button>
                </div>
            

        <h3>Ubicación <i class="fa-solid fa-location-dot"></i></h3>
        <ul class="listaUbicaciones">
        <%ciudades.forEach(ciudad=>{%>
            <li><%=ciudad%></li>
        <%})%>
            <li>Todas</li>
        </ul>
        
    </div>
    <div class="contenedorBusquedas">
        <%if (serviciosBuscados.length != 0){%>
        <% serviciosBuscados.forEach(servicio => {  %>
           
             
            <!--TARJETA DE SERVICIO-->
            <a href="/servicio/<%= servicio.dataValues.id %>"><div class="contenedorDetalleServicio">
                <div class="contenedorFotoPerfil">
                    <img src="/images/fotos-perfil/<%=servicio.usuario.fotoPerfil%>" alt="fotoPerfil">
                </div>
        
                <div class="contenedorDerechoBusqueda">
                    <div class="contenedorTituloCalificacion">
                        <div class="contenedorTitulo"> 
                            <h2><%= servicio.dataValues.titulo %></h2>
                            <p class="nombreProfesional"><%= servicio.usuario.nombreCompleto %></p>
                            <p class="ciudadUbicacion"><%= servicio.usuario.ciudad %></p>
                        </div>
                        <div class="contenedorCalificacion"> 
                            <% if (servicio.promedioCalificaciones > 0){ %>  
                            <img src="/images/estrellas/<%= servicio.promedioCalificaciones %>-estrella.png" alt="estrella">
                            <% } %> 
                            <p class="trabajosRealizados"><%= servicio.numeroCalificaciones %> trabajos realizados</p> 
                            <div clas="contenedorPrecioTarifa">
                                <strong><p class="precio">$ <%= toThousand(servicio.dataValues.precio) %></p></strong>
                                <p class="ciudadUbicacion"><%= servicio.dataValues.tarifa %></p>
                            </div>
                        </div>
                    </div>
                        <div class="contenedorDescripcion">  
                            <p><%= servicio.dataValues.titulo %><%= servicio.dataValues.descripcion.substr(1,150) %>...</p> 
                        </div>
                </div>
            </div></a>
            <% }) %>
            <%}else{%>
            <h1 class="magMensajeNoEncontrado"><i class="fa-solid fa-magnifying-glass"></i></h1>
            <h2 class="mensajeNoEncontrado">Lo sentimos, no se encuentran resultados para la busqueda</h2>
                <%}%>

   

    <!--TARJETA DE SERVICIO HASTA ACA-->
        
    </div>
    </div>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 



</body>
</html>