<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f477f726e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/stylesheet_home.css">
    <link href="/css/stylesheet_busqueda_servicios.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <title>jobbook-Busqueda servicios</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
    
    <!-- Navbar categorias -->
    <%- include('../partials/navbarCategorias.ejs') %> 
    

    <main>

    
            <div class="filtroDesplegable">
                <p class="filtrarDesplegable">Ordernar por <i class="fa-solid fa-caret-down"></i></p>   
                <form>   
                    <select name="desplegable" id="filtroDesplegable" aria-placeholder="Ordenar por">
                        <option value="menor-precio">Precio menor a mayor</option>
                        <option value="mayor-precio">Precio mayor a menor</option>
                        <option value="mayor-trabajos">Mayor trabajos realizados</option>
                        <option value="menor-trabajos">Menor trabajos realizados</option>
                    </select>
                </form>
            </div>
    


    <div class="contenido">
    <div class="contenedorFiltros">
        
        <h3>Categorias populares <i class="fa-solid fa-list"></i></h3>
        <ul class="listaCategorias">
            <li><a href="">Ingenieria</a></li>
            <li><a href="">Abogacia</a></li>
            <li><a href="">Contaduria</a></li>
            <li><a href="">Psicologia</a></li>
            <li><a href="">Comunicación</a></li>
        </ul>

        <h3>Calificación <i class="fa-sharp fa-solid fa-check"></i></h3>
        <img class="estrellaFiltros" src="/images/estrellas/5-estrella.png" alt="5star">

        <h3>Precio <i class="fa-solid fa-dollar-sign"></i></h3>
            <div class="filtroPrecio">
                <input type="number" name="precioMinimoFiltro" id="precioMinimoFiltro" placeholder="Mínimo">
                <input type="number" name="precioMaximoFiltro" id="precioMaximoFiltro" placeholder="Máximo">
            </div>
        <a href=""><i class="fa-solid fa-magnifying-glass-dollar"></i></a>

        <h3>Ubicación <i class="fa-solid fa-location-dot"></i></h3>
        <ul class="listaUbicaciones">
            <li><a href="">Medellín</a></li>
            <li><a href="">Bogotá</a></li>
            <li><a href="">Cali</a></li>
            <li><a href="">Barranquilla</a></li>
        </ul>
        
    </div>
    <div class="contenedorBusquedas">
        <%if (serviciosBuscados.length != 0){%>
        <% serviciosBuscados.forEach(servicio => {  %>
           
             
            <!--TARJETA DE SERVICIO-->
            
            <a href="/servicio/<%= servicio.dataValues.id %>"><div class="contenedorDetalleServicio">
                <div class="contenedorFotoPerfil">
                    <img src="/images/fotos-perfil/<%=servicio.usuario.fotoPerfil%>" alt="fotoPerfil">
                </div>
        
                <div class="contenedorDerechoBusqueda">
                    <div class="contenedorTituloCalificacion">
                        <div class="contenedorTitulo"> 
                            <h2><%= servicio.dataValues.titulo %></h2>
                            <p class="nombreProfesional"><%= servicio.usuario.nombreCompleto %></p>
                            <p class="ciudadUbicacion"><%= servicio.usuario.ciudad %></p>
                        </div>
                        <div class="contenedorCalificacion">  
                            <img src="/images/estrellas/<%= servicio.promedioCalificaciones %>-estrella.png" alt="estrella">
                            <p class="trabajosRealizados"><%= servicio.numeroCalificaciones %> trabajos realizados</p> 
                            <div clas="contenedorPrecioTarifa">
                                <strong><p class="precio">$ <%= toThousand(servicio.dataValues.precio) %></p></strong>
                                <p class="ciudadUbicacion"><%= servicio.dataValues.tarifa %></p>
                            </div>
                        </div>
                    </div>
                        <div class="contenedorDescripcion">  
                            <p><%= servicio.dataValues.titulo %><%= servicio.dataValues.descripcion.substr(1,150) %>...</p> 
                        </div>
                </div>
            </div></a>
            <% }) %>
            <%}else{%>
            <h1 class="magMensajeNoEncontrado"><i class="fa-solid fa-magnifying-glass"></i></h1>
            <h2 class="mensajeNoEncontrado">Lo sentimos, no se encuentran resultados para la busqueda</h2>
                <%}%>

   

    <!--TARJETA DE SERVICIO HASTA ACA-->
        
    </div>
    </div>

    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %> 



</body>
</html>