<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="/images/favicon2.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/2f477f726e.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/images/favicon2.png" type="image/png">
        <link href="/css/stylesheet.css" rel="stylesheet">
        <link href="/css/stylesheet_detalle_servicio.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/stylesheet_home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap"
            rel="stylesheet">
        <script src="/js/mostrarImagenDetalleServicio.js"></script>

        <title>jobbook-Servicio</title>
    </head>

<body>

    <!-- Header -->
    <%- include('../partials/header.ejs') %>

        <!-- Navbar categorias -->
        <%- include('../partials/navbarCategorias.ejs') %>



            <main>
                <ul class="categoriaServicio">
                    <li><a href="/servicio/busqueda/?keywords=<%= servicio.categoria.categoria %>"> <%= servicio.categoria.categoria %>  </a></li>
                </ul>



                <section>
                    <div class="contenedorDetalle">
                        <%if (servicio.imagenes.length> 0) {%>

                            <div class="contenedorImagenesMiniatura">
                                <% servicio.imagenes.forEach(imagen=>{ %>
                                    <img class="imagenMiniatura" src="/images/imagenes-servicios/<%=imagen.url%>"
                                        alt="miniatura">
                                    <%})%>
                            </div>

                            <div class="contenedorImagenPrincipal">
                                <img class="imagenPrincipal" src="/images/imagenes-servicios/<%=servicio.imagenes[0].url%>"
                                    alt="imagenPrincipal">
                            </div>

                            <%}else{%>
                                <div class="contenedorImagenesMiniatura">
                                    <img class="imagenMiniatura" src="/images/imagenes-servicios/imagen-default.jpg"
                                        alt="miniatura-default">

                                </div>
                                <div class="contenedorImagenPrincipal">
                                    <img class="imagenPrincipal" src="/images/imagenes-servicios/imagen-default.jpg"
                                        alt="imagenPrincipal-default">
                                </div>
                                <%}%>

                                    <div class="descripcionServicio">
                                        <h2>
                                            <%=servicio.titulo%>
                                        </h2>
                                        <img class="fotoPerfil"
                                            src="/images/fotos-perfil/<%=servicio.usuario.fotoPerfil%>"
                                            alt="fotoPerfil">
                                        <strong>
                                            <p class="nombreDeProfesional">
                                                <%=servicio.usuario.nombreCompleto%>
                                            </p>
                                        </strong>
                                        <p class="ciudadUbicacion">
                                            <%=servicio.usuario.ciudad%>
                                        </p>
                                        <strong>
                                            <p class="precio">$<%=toThousand(servicio.precio)%>
                                            </p>
                                        </strong>
                                        <p class="tarifaPorHora">
                                            <%=servicio.tarifa%>
                                        </p>
                                        <p class="verCalificaciones"><a href="#calificaciones">Ver calificaciones</a>
                                        </p>
                                        <% if (promedioCalificacion){ %> 
                                        <img class="estrellasCalificacion"
                                            src="/images/estrellas/<%=promedioCalificacion%>-estrella.png"
                                            alt="estrellas" />
                                            <% } else { %><p>No tiene calificaciones</p> <% } %> 
                                        <form method="get" action="/servicio/<%=servicio.id%>/contacto">
                                            <div class="botonContactar"><button>Contactar al experto</button></a></div>
                                        </form>
                                    </div>
                    </div>
                </section>

                <div class="contenedorDescripcion">
                    <h2 class="descripcio">Descripción de servicios ofrecidos <i class="fa-solid fa-file-contract"></i>
                    </h2>
                    <p>
                        <%=servicio.descripcion%>
                    </p>
                </div>

                <div class="contenedorExperiencia">
                    <div class="experiencia">
                        <h2>Estudios / experiencia <i class="fa-sharp fa-solid fa-graduation-cap"></i></h2>
                        <ul class="listaEstudios">
                            <% if (usuario.experiencias){ %> 
                            <% usuario.experiencias.forEach(experiencia=>{ %>
                            <li><%= experiencia.experiencia %></li>
                            <% })}else{ %> <li> Usuario sin experiencia </li><% } %> 
                        </ul>
                    </div>
                    <div class="habilidades">
                        <h2>Habilidades <i class="fa-solid fa-toolbox"></i></h2>
                        <ul class="listaHabilidades">
                            <% if (usuario.habilidades){ %> 
                            <% usuario.habilidades.forEach(habilidad=>{ %>
                            <li><%= habilidad.habilidad %></li>
                            <% })}else{ %> <li> Usuario sin descripcion de habilidades </li> <% } %> 
                        </ul>
                    </div>
                </div>



                <div class="contenedorPreguntas">

                    <div class="preguntas">
                        <h2>Pregúntale al experto <i class="fa-solid fa-circle-question"></i></h2>
                            <% if (preguntas){ %> 
                                <% preguntas.forEach(pregunta => { %> 
                                <p class="preguntaVisitante"><%= pregunta.pregunta.pregunta%></p>
                                <p class="respuestaExperto"><%= pregunta.respuesta %></p>
                            <% })}%>
                            <% if (preguntasSR){ %> 
                                <% preguntasSR.forEach(pregunta => { %> 
                                <% if (pregunta != undefined){ %>     
                                <p class="preguntaVisitante preguntasSR"><%=pregunta.pregunta%></p>
                            <% }}) %>
                            <% }else { %> <p class="preguntaVisitante"> Aún no se hacen preguntas para este servicio </p> 
                            <% } %>  
                        <form action="/servicio/<%=servicio.id%>/pregunta" method="POST">
                            <input class="textboxPregunta" type="text" name="pregunta" placeholder="Escribe tu pregunta...">
                            <button class="preguntarBtn" type="submit">Preguntar</button>
                        </form> 
                    </div>

                    <div class="consejos">
                        <h3>Consejos de seguridad <i class="fa-solid fa-bullhorn"></i></h3>
                        <ul>
                            <li>No uses servicios de pago anónimos (por ej. Western Union), ni envíes dinero al
                                exterior.</li>
                            <li>Desconfía de ofertas debajo del precio de mercado.</li>
                            <li>Jobbook solo facilita la comunicacion entre terceros y no ofrece servicios profesionales
                            </li>
                            <li>Haz una descripcion detallada del servicio que requieres</li>
                        </ul>
                    </div>
                </div>

                <div class="calificaciones" id="calificaciones">
                    <h3 class="numeroCalificaciones">Calificaciones: <%= servicio.calificaciones.length %> </h3>
                    <% if (promedioCalificacion){ %> 
                    <img class="estrellaCalificacion" src="/images/estrellas/<%=Math.round(servicio.calificaciones.reduce((accu, calificacion) =>accu + calificacion.calificacion, 0)/servicio.calificaciones.length)%>-estrella.png"/>
                    <% } else { %> <p>No tiene calificaciones</p> <% } %>  
                    <div class="contenedorCalificaciones">
                        <% servicio.calificaciones.forEach(calificacion =>{ %> 
                        <div class="visitanteEstrellas">
                            <p><%= calificacion.fecha %> </p>
                            <img class="estrellasCalificacion" src="/images/estrellas/<%=calificacion.calificacion%>-estrella.png"
                                alt="5 estrellas" />
                        </div>
                        <p class="comentarioCalificacion"><%=calificacion.comentario%> </p>
                            <% }) %> 
                    </div>

                    <p><a href="#">Ver mas...</a></p>
                </div>

                <div class="serviciosRecomendados">
                    <h2>También te puede interesar</h2>
                    <div class="contenedorSugeridos">

                        <% sugeridos.forEach(sugerido => { %> 
                            <div class="Sugerido"><a href="http://localhost:3050/servicio/<%=sugerido.id%> ">
                                <%let imagen  
                                if(sugerido.imagenes[0] == undefined){ 
                                     imagen = 'imagen-default.jpg'           
                                }else{imagen = sugerido.imagenes[0].url}%> 
                                <img class="imagenSugerido" src="/images/imagenes-servicios/<%=imagen%>" alt="mniatura">
                                <h3><%=sugerido.titulo.substr(1,50)%> </h3>
                                <p>$<%= toThousand(sugerido.precio) %></p>
                                <img class="estrellasSugerido" src="/images/estrellas/4-estrella.png"
                                    alt="estrellas" />  
                                </a></div>
                            <% }) %> 
                    </div>
                </div>
            </main>

            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>

</body>

</html>